@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oxygen+Mono&family=Poppins:wght@300&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --bg_color: #dcdcdc;
    --sec_bgcolor: #eee;
    --ter_bgcolor: #f6c90e;
    --border_color: rgb(0, 0, 0);

    --pri_text_color: rgb(0, 0, 0);
    --sec_text_color: rgb(0, 4, 255);


    /* dark mode color palette */
    --dm_bg_color: rgb(54, 54, 54);
    --dm_sec_bgcolor: rgb(40, 40, 40);
    --dm_border_color: rgba(100, 100, 100, 0.85);
    
    --dm_pri_text_color: rgb(252, 252, 225);
    --dm_sec_text_color: rgb(59, 255, 245);


    /* font family */
    --text_family_1:  'Source Code Pro', monospace;
}

body{
    height: 100vh;
    /* width: 400vw; */
    /* background-color: var(--main_bgcolor); */
    background-color: var(--bg_color);
    /* border: 2px solid red; */
}

@media (prefers-color-scheme: dark){
    body{
        background-color: var(--dm_bg_color);
    }
}

a{
    text-decoration: none;
}

/* -------------- Navigation -------------- */
nav{
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 150px;
    transition: .3s ease-in-out;
    /* border: 2px solid red; */
}
nav ul{
    height: 100vh;
    list-style: none;
    /* border: 2px solid red; */
    /* position: relative; 
    top: 50%;
    transform: translateY(-40%);*/
}
nav ul li{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sec_bgcolor);
    border-right: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
    transition: .3s ease-in-out;
}
nav ul li:hover{
    background-color: transparent;
    border-right: 1px solid transparent;
    cursor: pointer;
}
nav ul li a{
    color: var(--pri_text_color);
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
    transition: .2s ease-in-out;
}
nav ul li a:hover{
    color: var(--sec_text_color);
    cursor: pointer;
}
nav ul>div{
    height: 100%;
    border-right: 1px solid var(--border_color);
    background-color: var(--sec_bgcolor);
}
nav ul .socials{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav ul .socials a{
    margin: 10px 7px;
    font-size: 20px;
    color: var(--sec_text_color);
    transition: .2s;
}
nav ul .socials a:hover{
    transform: scale(1.4);
}
input{
   display: none;
}
#ham:checked ~ nav{
    left: 0 !important;
}
#ham:checked ~ .ham{
    visibility: hidden;
    transition: .2s ease-in-out;
}
.buttons{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 28px;
    cursor: pointer;
    color: var(--pri_text_color);
}
#buttons{
    background-color: var(--main_bgcolor);
    border-right: 0px;
}
.sidebar ul{
    list-style: none;
}

.buttons, #buttons{
    display: none;
}


@media (max-width: 924px) {
    nav{
        left: -110%;
        width: 100%;
    }
    nav ul li:hover{
        background-color: var(--main_bgcolor);
    }
    .buttons, #buttons{
        display: block;
    }
}

@media (prefers-color-scheme: dark){
    nav ul li{
        background-color: var(--dm_sec_bgcolor);
        border-right: 1px solid var(--dm_border_color);
        border-bottom: 1px solid var(--dm_border_color);
    }
    nav ul li a{
        color: var(--dm_pri_text_color);
    }
    nav ul li a:hover{
        color: var(--dm_sec_text_color);
    }
    nav ul>div{
        border-right: 1px solid var(--dm_border_color);
        background-color: var(--dm_sec_bgcolor);
    }
    nav ul .socials a{
        color: var(--dm_sec_text_color);
    }
}
/* --------X----- Navigation -------X------ */

/* ----------------- Main ----------------- */
main{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
main h1{
    text-align: left;
    color: var(--bg_color);
    user-select: none;
}
h1.hello{
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px -2px 3px #fff, -1px 2px 3px #000;
}
h1.name{
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 3px -3px 4px #fff, -2px 2px 4px #000;
}
h1.greetings{
    font-size: 36px;
    font-family: 'Oxygen Mono', monospace;
    text-shadow: 2px -2px 3px #fff, -1px 2px 3px #000;
}

@media (prefers-color-scheme: dark){
    main h1{
        color: var(--dm_bg_color);
    }
    h1.hello{
        text-shadow: 1px -1px 2px #616161, -2px 2px 3px #000;
    }
    h1.name{
        text-shadow: 3px -3px 3px #505050, -3px 3px 3px #000;
    }
    h1.greetings{
        text-shadow: 1px -1px 2px #747474, -2px 2px 3px #000;
    }
}
/* ----------------- Light Bulb ----------------- */
.light{
    position: absolute;
    top: -20px;
    left: 80%;
    /* border: 1px solid red; */
}
.bulb{
    position: relative;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 60px;
    border-radius: 90%;
    background-color: #fff;
    box-shadow: 0px 0px 20px #fff;
    /* border: 1px solid red; */
}
.bulb:before{
    content: ' ';
    display: inline-block;
    height: 20px;
    width: 30px;
    position: relative;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-top: 25px solid #000000;
    border-radius: 10px 10px 0 0;
    /* border: 1px solid red; */
}
.wire{
    height: 100px;
    width: 5px;
    background-color: #000000;
    position: relative;
    top: -50px;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 2px solid red; */
}

@media (prefers-color-scheme: dark){
    .light{
        display: none;
    }
}
/* --------X-------- Light Bulb ---------X------- */

@media (max-width: 924px) {
    main{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }
    h1{
        text-align: left;
        text-shadow: 1px -1px 3px #6b6b6b, -2px 2px 3px rgb(15, 15, 15);
    }
    h1.hello{
        font-size: 24px;
    }
    h1.name{
        font-size: 40px;
    }
    h1.greetings{
        font-size: 20px;
    }
}
/* --------X-------- Main ---------X------- */