@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

section{
    position: relative;
    width: 100%;
    max-height: 100vh;
    padding: 100px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li a{
    display: inline-block;
    font-weight: 400;
    color: #333;
    margin-left: 40px;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
    width: 100%;
}
.content .textbox h2{
    color: #333;
    font-weight: 500;
    font-size: 4em;
    line-height: 1.4em;
}
.content .textbox h2 span{
    color: #017143;
    font-weight: 900;
    font-size: 1.2em;
}
.content .textbox p{
    color: #333;
}
.content .textbox a{
    color: #fff;
    background: #017143;
    border-radius: 40px;
    margin-top: 20px;
    display: inline-block;
    padding: 8px 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.content .imagebox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imagebox img{
    max-width: 340px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: .5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}

.social{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(.6);
    filter: invert(1);
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}